{% extends 'baseadmin.html' %}
{% block content  %}

<form method="POST" action="{% url 'add_coupon' %}">
    {% csrf_token %}
    <!-- Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="form4Example1" class="form-control" name="add_code"/>
      <label class="form-label" for="form4Example1">Code</label>
    </div>


    {% comment %} <div class="form-outline mb-4">
      <input type="text" id="form4Example1" class="form-control" name="add_discount_price"/>
      <label class="form-label" for="form4Example1">Active</label>
    </div> {% endcomment %}




    <div class="form-outline mb-4">
      <input type="text" id="form4Example1" class="form-control" name="add_discount_price"/>
      <label class="form-label" for="form4Example1">Discount</label>
    </div>
  
    
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Save</button>
  </form>



          {% endblock  %}