<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'customadmin/css/user_home.css' %}">
    <title>Sobha Watches</title>
</head>
<body>


    <header>
        <nav class="navbar navbar-default">
            <ul class="ulClass">
                <li><a style="text-decoration: none;" href="#">My Account</a></li>
                <li><a style="text-decoration: none;" href="#">My Orders</a></li>
                <li><a style="text-decoration: none;" href="#">My Wishlist</a></li>
                <li><a style="text-decoration: none;" href="#">My Cart</a></li>
                <li><a style="text-decoration: none;" href="{% url 'user_logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <nav>
        <h1 class="sobha">SOBHA WATCHES</h1>
    </nav>
    <nav class="image">    
        <img src="../static/customadmin/images/Watch base.webp" alt="">
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
   
</body>
</html>