{% extends 'gbase.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block banner_slider %}
<!--Banner Slider-->
 <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'customadmin/images/vatchbase.webp' %}" class="d-block w-100" alt="..."> 
    </div>
  </div>
</div>
<!-- End Banner Slider -->
{% endblock banner_slider %}



{% block main-content %}

<section style="background-color: #eee;">
    <div class="text-center container py-5">
      
      <h4 class="mt-4 mb-5"><strong>{{brand_title}}</strong></h4>
      <nav>
        <div class="row ">
      {% for b in watches_for_men %}          
        <div class="col-md-4 mb-4 ">
          <div class="card">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
              data-mdb-ripple-color="light">
              <img src="{{b.product_image.url}}"
                class="w-50" />
              <a href="{% url 'product_detail' b.id b.brand.brand_name %}">
                <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">Details</span></h5>
                  </div>
                </div>
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="" class="text-reset">
                <h5 class="card-title mb-3">{{b.title}}</h5>
              </a>
              <a href="" class="text-reset">
                <p>{{b.category}}</p>
              </a>
              {% if b.brand.offer_active %}
              <h6>Offer Price {{b.price}} <small class="fw-light text-decoration-line-through">INR {{b.offer_price}}</small></h6>
              {% else %}
              <h6 class="mb-3">INR {{b.offer_price}}</h6>
              {% endif %}

            </div>
           

          </div>
        </div>
        {% endfor %}

    </div>
    
    </nav>

  {% endblock main-content %}